.list {
    margin-top: 20px;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    padding: 6px;
}

.items:hover {
    background: #ffeef0;
    border-radius: 6px;
}

.close {
    display: flex;
    justify-content: start;
    color: gray;
    text-decoration: line-through;
}

.open {
    display: flex;
    justify-content: start;
}

.addButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}